<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="configFragment">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrinkto-fit=no">
    <!-- Common CSS -->
    <link th:inline="css" th:href="@{/css/bulma/bulma.css}" rel="stylesheet">
    <!-- Common JS -->
    <script th:inline="javascript" type="text/javascript" th:src="@{/js/common.js}"></script>
    <title>word-diary</title>
</head>