<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:fragment="configFragment">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrinkto-fit=no">
    <!-- Common CSS -->
    <link th:inline="css" th:href="@{/vendor/bulma/bulma-custom.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
    <link th:inline="css" th:href="@{/css/common.css}" rel="stylesheet">
    <!-- Common JS -->
    <script th:inline="javascript" type="text/javascript" th:src="@{/vendor/jquery/jquery-3.6.4.min.js}"></script>
    <script th:inline="javascript" type="text/javascript" th:src="@{/js/common.js}"></script>
    <title>word-diary</title>

    <th:block layout:fragment="script"></th:block>
</head>