<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="headerFragment">
<nav class="navbar py-4">
  <div class="container is-fluid">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img class="image" src="https://bulma.io/images/bulma-logo.png" alt="" width="96px">
      </a>
      <a class="navbar-burger" role="button" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="#">일기쓰기</a>
        <a class="navbar-item" href="#">MY 일기</a>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary">
              <strong>회원가입</strong>
            </a>
            <a class="button is-light">
              로그인
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>