/* === 공통 === */
body {
    background-color: #F8F9FD;
    min-height: 600px;
}
.navbar-item img {
    max-height: 2.5rem;
}

/* === 홈화면 === */
.home_section h2 {
    color: #12494c !important;
}
.home_section p {
    color: white !important;
}
.meditation_img_box {
    background-image: url(/img/meditation.png);
    background-repeat: no-repeat;
    background-size: cover;
	/*height: 500px;*/
}