<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/defaultLayout}">
<body>
<div layout:fragment="content">
    <section class="section">
        <div class="container">
            <div class="columns is-multiline">
                <div class="column p-6 mx-auto has-text-centered is-12-mobile is-6-desktop box">
                    <h3 class="title is-4 is-size-4-mobile">단어는 저장되었으니 지금부터 5분간 마음을 비우고 눈을 감은채 현재에 집중해 보세요.</h3>
                    <div class="tags are-large is-centered" id="wordList">
                        <span class="tag" th:each="word : ${history.words}" th:text="${word.name}"></span>
                    </div>

                    <div>
                        <nav class="pagination is-rounded pt-6" role="navigation" aria-label="pagination">
                            <a class="pagination-previous" th:onclick="history.back()">이전</a>
                            <a class="pagination-next" th:onclick="next()">다음</a>
                            <ul class="pagination-list">
                                <li><a class="pagination-link " aria-label="Goto step 1">1</a></li>
                                <li><a class="pagination-link is-current" aria-label="Goto step 2">2</a></li>
                                <li><a class="pagination-link" aria-label="Goto step 3">3</a></li>
                            </ul>
                        </nav>
                    </div>


                </div>
            </div>

        </div>
    </section>
</div>
    <script th:inline="javascript" layout:fragment="script">

    function next() {
        location.href = "/diary/step3";
    }

    </script>

</body>


</html>