<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{fragments/defaultLayout}">

<body>
<div layout:fragment="content">
    <section class="section home_section">
        <div class="container">
            <div class="columns is-multiline">
                <div class="column pb-6 pt-6 mx-auto has-text-centered is-12-mobile is-6-desktop box meditation_img_box">
                    <h2 class="mb-4 is-size-1 is-size-3-mobile has-text-weight-bold">단어 일기장 서비스</h2>
                    <p class="subtitle mb-5">오늘 마음에 떠오른 단어를 기록하고 명상하세요. 단어 일기장이 도와드립니다.</p>
                    <div class="buttons is-centered">
                        <button class="button is-primary is-medium mt-6" th:onclick="start()" sec:authorize="isAuthenticated()">시작하기</button>
                        <button class="button is-primary is-medium mt-6" th:onclick="alertLogin()" sec:authorize="isAnonymous()">시작하기</button>
                    </div>
                </div>
            </div>

        </div>
    </section>

</div>

<script th:inline="javascript" layout:fragment="script">

    function start() {
        location.href = "/diary/step1";
    }

</script>

</body>
</html>